@if (vm$ | async; as vm) {
<div class="page">
  <header>
    <h1 class="title">{{ vm.conversation.title }}</h1>
    <button routerLink="/chats" class="button back-button">All Chats</button>
  </header>

  <main>
    <div class="chat-container">
      <div class="chat" #chat (scroll)="onChatScroll()">
        @for (message of vm.chatData; track message.id) {
        <div class="message" [class.my-message]="message.senderId === vm.currentUserId">
          <div class="message-header">
            <span>
              <strong>{{ message.senderName }}</strong>
              <span>{{ message.timestamp | date : 'MM/dd/yyyy h:mm a' }}</span>
            </span>
            @if (message.senderId === vm.currentUserId) {
            <button class="delete" type="button" (click)="deleteMessage(message)">
              <span class="material-symbols-outlined"> delete </span>
            </button>
            }
          </div>
          <p>{{ message.body }}</p>

          @if (message.giphyId) {
          <app-giphy-display [giphyId]="message.giphyId"></app-giphy-display>
          }
        </div>
        } @empty {
        <p class="empty-state">This conversation is empty. Send the first message!</p>
        }
      </div>

      @if (attachedGiphyUrl) {
      <div class="gif-preview">
        <img [src]="attachedGiphyUrl" alt="Selected GIF" />
      </div>
      }
      <form class="message-form" [formGroup]="messageForm" (ngSubmit)="onSendMessage()">
        <input formControlName="body" placeholder="Message..." autocomplete="off" />
        <button type="button" (click)="attachRandomGif()">GIF</button>
        <button type="submit" [disabled]="!messageForm.valid">Send</button>
      </form>
    </div>

    <!--  -->
    <section class="participants-section" [class.show-participants]="showParticipants">
      <div class="toggle-participants">
        <button
          type="button"
          (click)="toggleParticipants()"
          aria-label="toggle the view participants bar"
        >
          <div></div>
        </button>
      </div>

      @if (showParticipants) {
      <div class="participants">
        <h3>Participants</h3>

        <div class="horizontal-seperation-bar"></div>

        <div class="participants-list">
          <ul>
            @for(profile of vm.profiles; track profile['uid']) {
            <li>
              {{ profile['displayName'] }}
              @if(vm.currentUserId === vm.conversation.owner && profile['uid'] !==
              vm.conversation.owner) {
              <button class="remove" (click)="removeParticipant(profile['uid'])">Remove</button>
              }
            </li>
            }
          </ul>
        </div>

        @if(vm.currentUserId === vm.conversation.owner) {
        <div class="horizontal-seperation-bar"></div>

        <h4>Add a user:</h4>
        <div class="add-participant">
          <select #newUserSelect>
            @for(user of vm.potentialParticipants; track user.uid) {
            <option [value]="user.uid">{{ user.displayName }}</option>
            }
          </select>
          <button (click)="addParticipant(newUserSelect.value)">Add</button>
        </div>
        }
      </div>
      }
    </section>
  </main>
</div>
}
