@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'text' as text;

:host {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing.$xl;
  height: 100%;
  box-sizing: border-box;
}

header {
  background-color: colors.$header-background;
  padding: spacing.$xl;
  border-radius: spacing.$lg;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 spacing.$md 2px colors.$shadow;
  box-sizing: border-box;
}

.title {
  margin: 0;
  font-size: text.$title;
}

.back-button {
  background-color: colors.$blue;
}

main {
  background-color: colors.$card-background;
  border-radius: spacing.$lg;
  width: 100%;
  display: flex;
  min-height: 0;
  flex: 1;
  padding: spacing.$lg;
  box-shadow: 0 0 spacing.$md 2px colors.$shadow;
  gap: spacing.$lg;
	position: relative;
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: spacing.$xl;
  min-height: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: spacing.$md;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.chat::-webkit-scrollbar,
.participants-list::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional: hide track */
}

.message {
  background-color: colors.$card-item-background;
  padding: spacing.$md;
  border-radius: spacing.$md;
  display: flex;
  flex-direction: column;
  gap: spacing.$md;

  &.my-message {
    background-color: colors.$blue;
    align-self: flex-end;
  }

  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: spacing.$lg;

    .delete {
      background-color: colors.$red;
      padding: 1px;
    }
  }

  p {
    margin: 0;
  }

  app-giphy-display {
    margin-top: spacing.$sm;
  }
}

.gif-preview {
  margin-top: spacing.$sm;
  border-radius: spacing.$sm;
  img {
    max-width: 250px;
    max-height: 350px;
    border-radius: spacing.$sm;
  }
}

.message-form {
  display: flex;
  gap: spacing.$sm;
  flex-wrap: wrap;

  label {
    font-size: large;
  }
  input {
    padding: spacing.$lg;
    border-radius: spacing.$sm;
    border: none;
    background-color: colors.$card-item-background;
    font-size: medium;
    flex: 1 1 0%;
    min-width: 0;
  }
  input:focus {
    outline: 0;
  }

  button {
    background-color: colors.$blue;
    padding: spacing.$sm spacing.$md;
    border-radius: spacing.$sm;
  }
  button:disabled {
    background-color: colors.$disabled-button;
    cursor: not-allowed;
  }
}

.participants-section {
  display: flex;
	align-self: stretch;
	box-sizing: border-box;
  top: spacing.$lg;
  bottom: spacing.$lg;
  right: 0;
	
	&.show-participants {
		right: spacing.$lg;
	}

	@media (max-width: 800px) {
    position: absolute;
  }
}

.toggle-participants {
  display: none;
	align-items: center;

  button {
    background-color: colors.$card-item-background;
    padding: spacing.$sm;
    height: 150px;
    border-radius: 1000px;

		div {
			height: 100%;
			width: spacing.$sm;
			border-radius: spacing.$sm;
			box-sizing: border-box;
			background-color: colors.$card-secondary-item-background;
		}
  }
  @media (max-width: 800px) {
    display: flex;
  }
}

.participants {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  min-height: 0;
  background-color: colors.$card-item-background;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: spacing.$lg;
  padding: spacing.$lg;
	border-radius: spacing.$md;

  h3,
  h4 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: spacing.$sm;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .remove {
        background-color: colors.$red;
        border-radius: spacing.$sm;
        padding: 3px 6px;
      }
    }
  }

  .participants-list {
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    li {
      padding: 3px;
    }
    li:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .add-participant {
    display: flex;
    align-items: center;
    gap: spacing.$sm;

    select {
			border-color: colors.$card-secondary-item-background;
      padding: spacing.$sm;
      border-radius: spacing.$sm;
      background-color: colors.$card-item-background;
      color: text.$normal;
      width: 100%;
    }

    button {
      background-color: colors.$blue;
      padding: spacing.$sm spacing.$md;
      border-radius: spacing.$sm;
    }
  }
}

.vertical-seperation-bar {
  width: 2px;
  min-width: 2px;
  border-radius: 100px;
  height: 100%;
  background-color: colors.$card-secondary-item-background;
}

.horizontal-seperation-bar {
  width: 100%;
  height: 2px;
  min-height: 2px;
  border-radius: 100px;
  background-color: colors.$card-secondary-item-background;
}
