@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'text' as text;

:host {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing.$xl;
  height: 100%;
  box-sizing: border-box;
}

header {
  background-color: colors.$header-background;
  padding: spacing.$xl;
  border-radius: spacing.$lg;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 spacing.$md 2px colors.$shadow;
}

.title {
  margin: 0;
  font-size: text.$title;
}

.back-button {
  background-color: colors.$blue;
}

main {
  background-color: colors.$card-background;
  border-radius: spacing.$lg;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0; // allows child flex scrolling
  padding: spacing.$lg;
  box-sizing: border-box;
  box-shadow: 0 0 spacing.$md 2px colors.$shadow;

  p {
    margin: 0;
		font-size: large;
  }
}

.section-title {
  margin: 0;
  font-size: text.$normal;
}

.new-chat-form {
  display: flex;
  flex-direction: column;
  gap: spacing.$lg;
  flex: 1;
  min-height: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: spacing.$sm;

	label {
		font-size: large;
	}

  input {
    padding: spacing.$md;
    border-radius: spacing.$sm;
    border: none;
    background-color: colors.$card-item-background;
		font-size: medium;
  }
	input:focus {
		outline: 0;
	}
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: spacing.$md;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.user-list::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional: hide track */
}

.user-item {
  display: flex;
  align-items: center;
  gap: spacing.$sm;

  input[type='checkbox'] {
    width: spacing.$lg;
    height: spacing.$lg;
  }
}

button.start-button {
  background-color: colors.$blue;
  align-self: flex-start;
}

footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: spacing.$sm;
}

button.cancel-button {
  background-color: colors.$red;
}
