@if (users$ | async; as users) {
<div class="page">
  <header>
    <h1 class="title">New Chat</h1>
    <button routerLink="/chats" class="button back-button">Back to Chats</button>
  </header>

  <main>
    <form [formGroup]="newUserForm" (ngSubmit)="createConversation()" class="new-chat-form">
      <!-- <h2 class="section-title">Start a New Conversation</h2> -->
      <div class="form-group">
        <label for="title">Chat Title</label>
        <input id="title" type="text" formControlName="title" placeholder="Enter a title..." />
      </div>

      <p>Select other users to chat with:</p>
      <div class="user-list">
        @for (user of users; track user.uid) {
        <div class="user-item">
          <input
            type="checkbox"
            [value]="user.uid"
            (change)="onUserSelectionChange($event)"
            id="user-{{ user.uid }}"
          />
          <label for="user-{{ user.uid }}">{{ user.displayName }}</label>
        </div>
        }
      </div>

      <button type="submit" [disabled]="!newUserForm.valid" class="button start-button">
        Start Chat
      </button>
    </form>
  </main>

  <footer>
    <button routerLink="/chats" class="button cancel-button">Cancel</button>
  </footer>
</div>
}
