$blue: #4879F5;
$red: #EF4444;


$main-background: #1e1f2e;
$header-background: #2A2B3D;
$card-background: #26273A;
$card-item-background: #2F3048;
$shadow: rgba(0, 0, 0, 0.3);


$main-text: #f5f6fa;
