@if (vm$ | async; as vm) {
<a routerLink="/new-chat" class="new-chat-button">New Chat</a>
<div>
  @for (conversation of vm.conversations; track conversation.id) {
  <a [routerLink]="['/chats', conversation.id]">{{ conversation.title }}</a>
  @if (vm.currentUserId == conversation.owner) {
  <button type="button" (click)="deleteConversation(conversation.id)">Delete</button>
  } @else { 
	<button type="button" (click)="leaveConversation(conversation.id, vm.currentUserId!)">Leave</button>
  } } @empty {
  <p>No conversations yet.</p>
  }
</div>

<div>
  <button (click)="logout()">Logout</button>
</div>

}
